* {
    margin: 50px, 140px;
    padding: 0;
}

/* header */
.banner_text {
    color: white;
    text-align: center;
    margin-top: 230px;
    text-shadow: 2px 2px 2px black;
}

.banner_small_text {
    font-family: Merriweather;
    font-size: 32px;
    margin-bottom: 0;
}

.banner_big_text {
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    margin-top: 10px;
}

body {
    background-image: url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}

/* main */
.off_section {
    text-align: center;
    margin-top: 300px;
}

.off {
    color: #F00;
    font-family: sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

.off_text {
    color: #F00;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 20px;
}

.catagori {
    color: #070211;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.newyear_image {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* .midnight_img {
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
} */
.image_mid{
display: flex;
justify-content: center;

}
.midnight_text, .welcome{
    
}